<h2 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <span>选择收信人</span>
  <div class="search-box">
    <input class="search-input" matInput [(ngModel)]="searchText" (keyup)="search()" placeholder="搜索">
    <mat-icon class="clear-button" *ngIf="search" aria-label="Clear" (click)="clearSearch()">close</mat-icon>
  </div>
</h2>
<hr>
<mat-dialog-content class="mat-typography contact-receiver">

  <div class="contact-list" fxLayout="row" fxLayoutGap="20px">
    <div class="group">
      <h3 fxLayout="row" fxLayoutAlign="space-between center">
        <span>联系人组</span>
        <button mat-stroked-button class="create-button">新建联系人组</button>
      </h3>
      <div class="group-list">
        <mat-accordion *ngIf="displayPanel" multi>
          <mat-expansion-panel *ngFor="let group of groups | filterGroups : 'email': searchText"
                               [ngClass]="{selected : group.selected}">
            <mat-expansion-panel-header>
              <mat-panel-title>Group: {{group.groupName}}</mat-panel-title>
              <mat-panel-description>
                <div class="add-group-button" *ngIf="!group.selected" (click)="addGroup($event, group)">
                  <mat-icon>add_circle</mat-icon>
                </div>
                <div class="group-selected-icon" *ngIf="group.selected" (click)="removeGroup($event, group)">
                  <mat-icon class="done">done</mat-icon>
                  <mat-icon class="clear">remove_circle</mat-icon>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let person of group.members | filterSearch : 'email': searchText"
                  [ngClass]="{selected : person.selected}" fxLayout="row" fxLayoutAlign="space-between center">
                <span>{{person.email}}</span>
                <div class="add-person-button" *ngIf="!person.selected" (click)="addGroupPerson(person, group)">
                  <mat-icon>add_circle_outline</mat-icon>
                </div>
                <div class="selected-icon" *ngIf="person.selected" (click)="removeGroupPerson(person, group)">
                  <mat-icon class="done">done</mat-icon>
                  <mat-icon class="clear">remove_circle_outline</mat-icon>
                </div>
              </li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <div class="single">
      <h3 fxLayout="row" fxLayoutAlign="space-between center">
        <span>联系人</span>
        <button mat-stroked-button class="create-button" (click)="createContact()">新建联系人</button>
      </h3>
      <ul class="single-person-list">
        <li *ngFor="let person of contacts | filterSearch : 'email': searchText"
            [ngClass]="{selected : person.selected}" fxLayout="row" fxLayoutAlign="space-between center">
          <span>{{person.email}}</span>
          <div class="add-person-button" *ngIf="!person.selected" (click)="addPerson(person)">
            <mat-icon>add_circle_outline</mat-icon>
          </div>
          <div class="selected-icon" *ngIf="person.selected" (click)="removePerson(person)">
            <mat-icon class="done">done</mat-icon>
            <mat-icon class="clear">remove_circle_outline</mat-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>取消</button>
  <button mat-stroked-button color="primary" [mat-dialog-close]="true">确定</button>
</mat-dialog-actions>
