<h3 mat-dialog-title>{{title}}</h3>
<hr>
<div mat-dialog-content>
  <div fxLayout="row" class="name-field">
    <mat-label class="label">备注：</mat-label>
    <input matInput [(ngModel)]="name">
  </div>
  <div fxLayout="row">
    <mat-label class="label">邮箱地址：</mat-label>
    <div>
      <input matInput type="email" [(ngModel)]="value">
      <span class="error-message" [class.display]="checkRepeat()">该联系人已存在</span>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="delete()" *ngIf="data.contact">删除联系人</button>
  <span fxFlex></span>
  <button mat-stroked-button mat-dialog-close>取消</button>
  <button mat-stroked-button (click)="done()" [disabled]="!value || !name || checkRepeat()">确定</button>
</div>
