.mat-dialog-title {
  margin-bottom: 0;
  font-size: 16px;
  height: 24px;
  margin-top: -14px;
}

.mat-dialog-content {
  padding-top: 18px;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  .label {
    min-width: 80px;
    text-align: right;
  }
  input {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    min-width: 260px;
  }
  .error-message {
    font-size: 14px;
    margin-top: 6px;
  }

}

