<input #input value="Message">
<button (click)="popup.showAsComponent(input.value)">Show as component</button>
<button (click)="popup.showAsElement(input.value)">Show as element</button>

<div>
  <contact-receiver [contacts]="contacts" [contactGroups]="contactGroups"></contact-receiver>
</div>

<div>
  <button (click)="showCreateGroupElement()">创建联系人组</button>
</div>
<div>
  <button (click)="showSelectReceiverElement()">选择收信人</button>
</div>
<div>
  <button (click)="showSelectReceiverElement()">编辑收信人</button>
</div>
